body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #323333;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}

/* NAVBAR *****************************************************************************************/

nav {
  background-color: #121619;
}

nav .icon-bar {
  background-color: #FFF;
}

nav .navbar-brand {
  padding-left: 15vw;
}

nav a {
  color: #FFF;
}

nav a:hover {
  color: #000;
}

/* HEADER *****************************************************************************************/

header {
  padding: 200px 5% 50px 5%;
  text-align: center;
}

header h1 {
  font-size: 4em;
  color: #FFF;
  margin-bottom: 100px;
}

header .header__icon {
  font-size: 50px;
  color: #FFF;
}

/* BLOG *******************************************************************************************/

.blog {
  padding: 0 15% 50px 15%;
}

.blog p {
  margin-top: 20px;
}

.blog__date {
  font-family: 'Playfair Display', serif;
  color: #707070;
}

.blog__calendar {
  margin-top: 3px;
  width: 11px;
  height: 11px;
}

.blog__calendar--border {
  float: left;
  margin-right: 10px;
  border: 1px solid #707070;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.blog__rrss {
  margin: 30px 0 0 50px;
  font-size: 25px;
  color: #FFF;
}

.blog__rrss .clear {
  clear: both;
}

.blog__rrss__icon {
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  padding: 8px;
  background-color: #707070;
}

.blog__rrss__icon--large {
  float: left;
  margin: 0;
  border-radius: 20px;
  width: 200px;
  background-color: #707070;
}

.blog__rrss__icon--large p {
  color: #FFF;
  margin-top: 10px;
  font-size: 15px;
}

/* AUTOR ******************************************************************************************/

.autor {
  border-top: 1px solid #707070;
  padding-bottom: 30px;
}

.autor .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.autor__icon {
  position: relative;
  left: 50%;
  top: -20px;
  border: 1px solid #707070;
  border-radius: 50%;
  padding: 8px;
  background-color: #FFF;
  font-size: 25px;
  color: #707070;
}

.autor__left {
  text-align: right;
}

.autor__image {
  border: 1px solid #707070;
  border-radius: 50%;
  height: auto;
}

.autor__name {
  margin-top: 4vw;
  margin-bottom: 10px;
  font-size: 1.8em;
}

.autor__rrss {
  margin-bottom: 0px;
  font-size: 0.9em;
  color: #707070;
}

.autor__about {
  margin-top: 4vw;
  font-size: 0.9em;
  font-weight: 400;
  color: #707070;
  line-height: 2;
}

/* MORE *******************************************************************************************/

.more {
  background-color: #E6E7E7;
  padding: 30px 25%;
}

.more__icon {
  border-radius: 50%;
  background-color: #B4B6B6;
  font-size: 1.5em;
  color: #FFF;
}

.more__icon--left {
  padding: 1px 9px 1px 7px;
}

.more__icon--right {
  padding: 1px 7px 1px 9px;
}

.more__link {
  margin: 0 10px;
  font-size: 1.1em;
  font-weight: normal;
  color: inherit;
}

.more__link:hover {
  color: #D56C6A;
  text-decoration: none;
}

/* FOOTER *****************************************************************************************/

.footer {
  padding: 40px 0;
  background-color: #000;
  text-align: center;
}

.footer__brand {
  height: 30px;
  width: auto;
}

